# Copy to env/local.env and edit

MASTER_SSH=adm-mcsc@esilv-mcscin5a1825-0030.westeurope.cloudapp.azure.com
WORKER1_SSH=adm-mcsc@esilv-mcscin5a1825-0031.westeurope.cloudapp.azure.com

MASTER_IP=10.0.0.36
WORKER1_IP=10.0.0.37

HADOOP_HOME=/usr/local/hadoop
SPARK_HOME=/opt/spark-3.5.7-bin-hadoop3
KAFKA_HOME=/opt/kafka
HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop

KAFKA_BOOTSTRAP=10.0.0.36:9092
RM_PORT=8088

# Optional: venv (for producer) dirs
PRODUCER_PY=/home/adm-mcsc/weather_producer/.venv/bin/python

INFLUX_TOKEN=NMuAdFSiS_rxQ-MwNKv6h7cA0VW295JPUuATiQJf6736TWccEyGiDKZ8tKQH-0D5hM2vj9Qe_kQbhZuThpUL5g==
INFLUX_URL=http://10.0.0.36:8086

